<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>CitiMan</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <!-- CSS only -->
    <link rel="stylesheet"  href="https://unpkg.com/aos@next/dist/aos.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link  rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css">
    <!-- Template Main CSS File -->
    <%= stylesheet_link_tag "custom", media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
            <h1>CitiMan- Manage Monitor and Mitigate</h1>
            <h2>A Smart City Management Solution</h2>
            <div class="d-flex justify-content-center justify-content-lg-start">
              <a href="#about" class="btn-get-started scrollto">Get Started</a>
            </div>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
            <%# <img src="assets/images/hero-img.png" class="img-fluid animated" alt=""> %>
            <%= image_tag('hero-img.png', class:"img-fluid animated")%>
          </div>
        </div>
      </div>
    </section>
    <!-- End Hero -->
    <main id="main">
      <!-- ======= About Us Section ======= -->
      <section id="about" class="about">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>About Us</h2>
          </div>
          <div class="row content">
            <div>
              <p class="text-bold text-center display-6">
                CitiMan is a smart platform which enables unified management of city services and resources.
              </p>
              <ul class="mt-5 display-7">
                <li><i class="ri-check-double-line"></i> Single Management Console.</li>
                <li><i class="ri-check-double-line"></i> Unified Configuration Management.</li>
                <li><i class="ri-check-double-line"></i> Modular Design at Scale.</li>
                <li><i class="ri-check-double-line"></i> Easy to use interface.</li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <!-- End About Us Section -->
      <!-- ======= Why Us Section ======= -->
      <section id="why-us" class="why-us section-bg">
        <div class="container-fluid" data-aos="fade-up">
          <div class="row">
            <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">
              <div class="content">
                <h3>Why to choose us. </h3>
                <br/>
                Our prepositions are tailored to the needs of your city services that are<strong> easy to customize and use.</strong>
              </p>
            </div>
            <div class="accordion-list">
              <ul>
                <li>
                  <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1"><span>01</span> Get Faster Response <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                    <p>
                      Our team provides faster solutions to the city's smart infrastructure. 
                    </p>
                  </div>
                </li>
                <li>
                  <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2" class="collapsed"><span>02</span> 24x7 support <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                    <p>
                      CitiMan was built to provide its services around the clock.
                    </p>
                  </div>
                </li>
                <li>
                  <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3" class="collapsed"><span>03</span> Security & Compliance</i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                <p>
                  We provide complete compilance of data and related policies that serves your legal interest.
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style='background-image: <%= image_tag("why-us.png")%>;' data-aos="zoom-in" data-aos-delay="150">&nbsp;</div>
    </div>
  </div>
</section>
<!-- End Why Us Section -->
<!-- ======= Services Section ======= -->
<section id="services" class="services">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Our Smart City Services</h2>
      <p></p>
    </div>
    <div class="row container justify-content-center ">
      <div class="col-xl-3 col-md-6 d-flex align-items-center" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box">
          <div class="icon"><i class="bx bxs-car"></i></div>
          <h4><%=link_to "Smart Mobility",smart_mobility_dashboard_path%></h4>
          <p class="text-justify">Smart Mobility is a new and revolutionary way of thinking about how we get around -  one that is cleaner, safer and more efficient.</p>
        </div>
      </div>
      <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon-box">
          <div class="icon"><i class="bx bxs-tree"></i></div>
          <h4><%=link_to "Smart Environment",smart_environment_dashboard_path%></h4>
          <p class="text-justify">It refers to the assembly of sensors, actuators and many other elements which provide services for improving our daily life.</p>
        </div>
      </div>
      <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-sun"></i></div>
          <h4><%=link_to "Smart Energy",smart_energy_dashboard_path%></h4>
          <p class="text-justify">Smart Energy is the use of devices for energy-efficiency by focusing on the sustainable management and usage of energy at low cost.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Services Section -->
<!-- ======= Cta Section ======= -->
<section id="cta" class="cta">
  <div class="container" data-aos="zoom-in">
    <div class="row">
      <div class="col-lg-9 text-center text-lg-start">
        <h3>Call To Action</h3>
        <p> Get in touch with us to innovate and plan your future smart city.</p>
      </div>
      <div class="col-lg-3 cta-btn-container text-center">
        <a class="cta-btn align-middle" href="#contact">Call To Action</a>
      </div>
    </div>
  </div>
</section>
<!-- End Cta Section -->
<!-- ======= Team Section ======= -->
<section id="team" class="team section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Team</h2>
      <p>Get familiar with our team who has made it possible to realise  CitiMan into a reality.</p>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
          <div class="pic img-fluid"><%= image_tag("team-1.jpg", class: "img-fluid") %></div>
          <div class="member-info">
            <h4>Amrita Ticku</h4>
            <span>Project Mentor</span>
            <p>Her guidance was valuable in building the CitiMan.</p>
            <div class="social">
              <a href="mailto:amritaticku27@gmail.com"><i class="ri-google-fill"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mt-4 mt-lg-0">
        <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
          <div class="pic"><%= image_tag("team-2.jpg", class: "img-fluid") %></div>
          <div class="member-info">
            <h4>Vaibhav Gupta</h4>
            <span>CitiMan Developer</span>
            <p>Responsible for building CitiMan with Ruby on Rails.</p>
            <div class="social">
              <a href="https://github.com/VaibhavGupta-Oncehub"><i class="ri-github-fill"></i></a>
              <a href="mailto:vaibhavgupta.infotech@gmail.com"> <i class="ri-google-fill"></i> </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mt-4">
        <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="300">
          <div class="pic"><%= image_tag("team-3.jpg", class: "img-fluid") %></div>
          <div class="member-info">
            <h4>Hrithik Goswami</h4>
            <span>CitiMan Reseacher</span>
            <p>Responsible for the research and development of the CitiMan.</p>
            <div class="social">
              <a href="https://in.linkedin.com/in/hrithikgoswami"> <i class="ri-linkedin-box-fill"></i> </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mt-4">
        <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="400">
          <div class="pic"><%= image_tag("team-4.jpg", class: "img-fluid") %></div>
          <div class="member-info">
            <h4>Anuj Sharma</h4>
            <span>CitiMan Designer</span>
            <p>Responsible for planning and designing the CitiMan.</p>
            <div class="social">
              <a href="https://in.linkedin.com/in/anuj29anuj"> <i class="ri-linkedin-box-fill"></i> </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Team Section -->
<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Contact</h2>
      <p>For More Information about CitiMan, Get in Touch with us.</p>
    </div>
    <div class="row">
      <div class="col-lg-5 d-flex align-items-stretch">
        <div class="info">
          <div class="email">
            <i class="bi bi-envelope"></i>
            <h4>Email:</h4>
            <p>CitiMan@example.com</p>
          </div>
          <div class="phone">
            <i class="bi bi-phone"></i>
            <h4>Call:</h4>
            <p>+91 99999 55488</p>
          </div>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d224346.48129345593!2d77.06889999939226!3d28.52728034421341!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cfd5b347eb62d%3A0x52c2b7494e204dce!2sNew%20Delhi%2C%20Delhi!5e0!3m2!1sen!2sin!4v1647762151924!5m2!1sen!2sin" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen ></iframe>
        </div>
      </div>
      <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
          <div class="row">
            <div class="form-group col-md-6">
              <label for="name">Your Name</label>
              <input type="text" name="name" class="form-control" id="name" required>
            </div>
            <div class="form-group col-md-6">
              <label for="name">Your Email</label>
              <input type="email" class="form-control" name="email" id="email" required>
            </div>
          </div>
          <div class="form-group">
            <label for="name">Subject</label>
            <input type="text" class="form-control" name="subject" id="subject" required>
          </div>
          <div class="form-group">
            <label for="name">Message</label>
            <textarea class="form-control" name="message" rows="10" required></textarea>
          </div>
          <div class="my-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your message has been sent. Thank you!</div>
          </div>
          <div class="text-center"><button type="submit">Send Message</button></div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- End Contact Section -->
</main>
<!-- End #main -->
<%# <div id="preloader"></div> %>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<!-- Vendor JS Files -->
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://unpkg.com/boxicons@2.0.9/dist/boxicons.js"></script>
<%= javascript_include_tag 'noframework.waypoints.min.js', 'data-turbolinks-track': 'reload' %>
<!-- Template Pages JS File -->
<%= javascript_include_tag 'custom', 'data-turbolinks-track': 'reload' %>
</body>
</html>
