<!-- ======= Footer ======= -->
<footer id="footer">
 
  <div class="footer-newsletter">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <h4>Join Our Newsletter</h4>
          <p>Know more about the regualr updates on CitiMan with our newsletter service.</p>

          <%= form_for(:subscriber, url: subscribers_path, html: {method: :post }) do |f| %>
            <div class="d-flex flex-row align-items-center">
              <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
              <div class="form-outline flex-fill mb-0">
                <%= f.email_field :email, autofocus: true, placeholder:"Enter your email address",class:"form-control"%>
              </div>
            </div>
            <div class="actions">
              <%= f.submit "Subscribe",class:"btn btn-primary btn-lg btn-block d-flex justify-content-center", style:"background-color: #3b5998" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 footer-contact">
          <h3>CITIMAN</h3>
          <p>
            New Delhi, India <br><br>
            <strong>Phone:</strong> +91 99999 55488<br>
            <strong>Email:</strong> CitiMan@example.com<br>
          </p>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href=<%= root_path%>>Home</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href=<%= root_path + "#about"%>>About us</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href=<%= root_path + "#services"%>>Services</a></li>              
            <li><i class="bx bx-chevron-right"></i> <a href=<%= root_path + "#team"%>>Team</a></li>
            <li><i class="bx bx-chevron-right"></i><%= link_to "CitiMan Navigator", navigator_home_path%>


          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Smart Mobility</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Smart Environment</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Smart People</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Smart Energy</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Our Social Networks</h4>
          <p>Catch us on popular social networks.</p>
          <div class="social-links mt-3">
            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container footer-bottom clearfix">
    <div class="copyright">
      &copy; Copyright <strong><span>CitiMan.com</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      Designed by <a href="#">CitiMan</a>
    </div>
  </div>


</footer>
<!-- End Footer -->